// variables

$font-family: "Roboto", sans-serif;

$fw-400: 400;
$fw-700: 700;
$fw-900: 900;

$fs-400: 1.125rem;
$fs-500: 1.25rem;
$fs-600: 2rem;
$fs-700: 3rem;

$red-400: hsla(357, 100%, 68%, 1);
$red-500: hsl(357, 74%, 40%);
$blue-800: hsla(216, 71%, 16%, 1);
$neutral-100: hsl(0 0% 100%);

$size-8: 0.5rem;
$size-12: 0.75rem;
$size-16: 1rem;
$size-32: 2rem;
$size-36: 3rem;

// Placeholders

%shadow {
  box-shadow: 0.25rem 0.25rem 1rem rgb(0 0 0 / 0.15);
}

// Mixins

@mixin interative-scale($color, $bg, $scale: 1.05) {
  transform: scale(1);
  transition: transform 350ms ease;

  &:hover,
  &:focus {
    transform: scale($scale);
    color: $color;
    background-color: $bg;
  }
}
