// colors
$color-neutral-100: #fff;
$color-neutral-900: #1f3049;
$color-primary-400: #0066ff;

// font-families
$ff-sans: "Open Sans", sans-serif;

// font-sizes
$fs-900: 3.75rem; // 60px
$fs-800: 3rem; // 48px
$fs-600: 1.5rem; // 24px
$fs-500: 1.3125rem; // 21px
$fs-400: 1.125rem; // 18px

// font-weights
$fw-400: 400;
$fw-700: 700;

// size/spacing values (Including the border-width)
$size-8: 0.5rem;
$size-12: 0.75rem; // (not in design)
$size-16: 1rem;
$size-20: 1.25rem;
$size-32: 2rem;
$size-36: 2.25rem;

// simple reset
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

// base styles

body {
  font-size: $fs-400;
  font-weight: $fw-400;
  font-family: $ff-sans;
  color: $color-neutral-900;
  background-color: $color-neutral-100;
  text-align: center;
}

.container {
  width: min(100% - 2rem, 60rem);
  margin-inline: auto;
}

.page-title {
  color: $color-primary-400;
  font-size: $fs-900;
  margin-block: $size-32;
}

.pricing-plans {
  border: $size-8 solid $color-primary-400;
  display: flex;
}

.tier {
  flex: 1;
  padding: $size-36;
  display: grid;
  gap: $size-20;

  &__title {
    text-transform: uppercase;
    font-weight: $fw-700;
    color: $color-primary-400;
  }

  &__feature-list {
    list-style: none;
  }

  &__list-item {
    &:not(:last-child)::after {
      content: "";
      display: block;
      height: 1px;
      margin-block: $size-20;
      background-color: $color-neutral-900;
      opacity: 0.2;
    }
  }

  &__price {
    font-size: $fs-800;
    font-weight: $fw-700;

    span {
      font-weight: $fw-400;
      font-size: $fs-600;
    }
  }
}

.button {
  cursor: pointer;
  border: 0;
  text-transform: uppercase;
  font-weight: $fw-700;
  color: $color-neutral-100;
  background-color: $color-primary-400;
  padding: 1em 1.5em;

  justify-self: center;
}
